<!DOCTYPE html>
<html>
  <head>
    <title>All courses</title>
  </head>
  <body>
    <ul>
      <% allcourse.forEach( (course) => { %>
      <li>
        <a href="http://localhost:3000/course/?courseId=<%= course.courseId %>"
          ><%= course.courseId %></a
        >
      </li>
      <% }); %>
    </ul>
  </body>
</html>
