<!DOCTYPE html>
<html>
  <head>
    <title>All notifications</title>
  </head>
  <body>
      <form action="/home" method="post">
        <input type="submit" value="home" />
      </form>
      <form action="/profile" method="post">
        <input type="submit" value="profile" />
      </form>
      <form action="/logout" method="post">
        <input type="submit" value="logout" />
      </form>
      <p></p>
      <hr>
    <%= course.courseId %>
    <ul>
      <% course.notification.forEach( (file) => { %>
      <li><%= file.notification %></a></li><br>
      <%=file.date%></a><hr>
      <% }); %>
    </ul>
     <hr>
     <ul>
      <% course.file.forEach( (file) => { %>
      <li><%= file.fileName %></a></li>
      <% }); %>
    </ul>
    <p> All these files will be downloadable from next sprint </p>
  </body>
</html>
