<!DOCTYPE html>
<html>
  <body>
    <form action="/home" method="post">
      <input type="submit" value="home" />
    </form>
    <form action="/profile" method="post">
      <input type="submit" value="profile" />
    </form>
    <form action="/logout" method="post">
      <input type="submit" value="logout" />
    </form>
    <p></p>
    <hr />
    Updated<%= student.name%>'s details<br />
  </body>
</html>
