label[type="ll"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 8px;
  background-color: #3cbc8d;
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: white;
}
.button2 {
  background-color: #008cba;
  color: black;
  font-size: 12px;
  padding: 12px 25px;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: white;
  font-size: 12px;
  padding: 12px 25px;
  border: 2px solid #008cba;
  color: black;
}
